# Kimai Kiosk Configuration

# Host port binding for Kimai Web UI (default 8080)
KIMAI_PORT=8080

# Initial Admin Credentials (auto-created on first launch)
ADMINMAIL=admin@example.com
ADMINPASS=superadmin

# User / Group IDs & Timezone
PUID=1000
PGID=1000
TZ=Etc/UTC

# Database Credentials
DB_USER=kimai
DB_PASS=kimaipassword
DB_NAME=kimai
MYSQL_ROOT_PASSWORD=rootpassword

# Application Secret
APP_SECRET=change_me_to_a_random_secret_string
